{% load static %}
<footer class="app-footer">
    <div class="container text-center py-3">
        <small class="copyright">Study-Stash &copy; All rights reserved. Owned and operated by FCWT LLC</small>
    </div>
</footer><!--//app-footer-->


</div><!--//app-wrapper-->


<!-- Javascript -->
<script src="{% static 'active_assets/plugins/popper.min.js' %}"></script>
<script src="{% static 'active_assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Page Specific JS -->
<script src="{% static 'active_assets/js/app.js' %}"></script>


</body>

</html>