<!DOCTYPE html>
<html lang="en">

<head>
	<title>Study-Stash Help Center</title>

	{% include 'activeuserapp/userdashboard/header.html' %}

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">

				<h1 class="app-page-title">Help Center</h1>
				<div class="app-card app-card-accordion shadow-sm mb-4">
					<div class="app-card-header p-4 pb-2 border-0">
						<h4 class="app-card-title">Frequently Asked Questions</h4>
					</div><!--//app-card-header-->
					<div class="app-card-body p-4 pt-0">
						<div id="faq1-accordion" class="faq1-accordion faq-accordion accordion">
							<!-- Empowerment Services -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-1">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq1-1" aria-expanded="false"
										aria-controls="faq1-1">
										What are Empowerment Services?
									</button>
								</h2>
								<div id="faq1-1" class="accordion-collapse collapse border-0"
									aria-labelledby="faq1-heading-1">
									<div class="accordion-body text-start p-4">
										Empowerment Services at Study-Stash enable individuals to actively engage in
										research and surveys, contributing to meaningful projects, sharing their
										insights, and gaining valuable perspectives through various research
										initiatives.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Research and Survey Participation -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-2">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq1-2" aria-expanded="false"
										aria-controls="faq1-2">
										How can I participate in Research and Surveys?
									</button>
								</h2>
								<div id="faq1-2" class="accordion-collapse collapse border-0"
									aria-labelledby="faq1-heading-2">
									<div class="accordion-body text-start p-4">
										Study-Stash is dedicated to empowering every member of our community. For
										students, we offer mentorship, scholarships, and essential school supplies,
										ensuring they have the support they need to excel academically. We don't stop
										there; we extend our empowerment to all community members, enhancing personal
										lives and fostering growth.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Incentives and Recognition -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-3">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq1-3" aria-expanded="false"
										aria-controls="faq1-3">
										What are Incentives and Recognition?
									</button>
								</h2>
								<div id="faq1-3" class="accordion-collapse collapse border-0"
									aria-labelledby="faq1-heading-3">
									<div class="accordion-body text-start p-4">
										To motivate active participation, Study-Stash offers incentives and recognition
										for outstanding contributions. This includes awards, certificates, and
										opportunities to present research findings, fostering a sense of accomplishment
										and purpose among users.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Industry Insights and Networking -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-4">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq1-4" aria-expanded="false"
										aria-controls="faq1-4">
										How does Study-Stash connect with industry professionals?
									</button>
								</h2>
								<div id="faq1-4" class="accordion-collapse collapse border-0"
									aria-labelledby="faq1-heading-4">
									<div class="accordion-body text-start p-4">
										Study-Stash connects you with industry professionals, offering valuable insights
										and networking opportunities. Gain mentorship, internships, and career guidance
										for a brighter future.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Career Support -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-5">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq1-5" aria-expanded="false"
										aria-controls="faq1-5">
										What kind of career support does Study-Stash offer?
									</button>
								</h2>
								<div id="faq1-5" class="accordion-collapse collapse border-0"
									aria-labelledby="faq1-heading-5">
									<div class="accordion-body text-start p-4">
										Study-Stash offers comprehensive career support to help you achieve your
										professional goals. Our platform provides mentorship, industry insights, job
										opportunities, and resources to empower your career journey.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Market Research and Data Analysis -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq1-heading-6">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq1-6" aria-expanded="false"
										aria-controls="faq1-6">
										What services are offered for Market Research and Data Analysis?
									</button>
								</h2>
								<div id="faq1-6" class="accordion-collapse collapse border-0"
									aria-labelledby="faq1-heading-6">
									<div class="accordion-body text-start p-4">
										Study-Stash provides exceptional market research and data analysis services.
										Dive into comprehensive market studies, gather valuable data, and make
										data-driven decisions.
									</div>
								</div>
							</div><!--//accordion-item-->
						</div><!--//faq1-accordion-->
					</div><!--//app-card-body-->
				</div><!--//app-card-->




				<div class="app-card app-card-accordion shadow-sm mb-4">
					<div class="app-card-header p-3">
						<h4 class="app-card-title">Payment</h4>
					</div><!--//app-card-header-->
					<div class="app-card-body p-4 pt-0">
						<div id="faq3-accordion" class="faq3-accordion faq-accordion accordion">
							<!-- Monthly Billing -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq3-heading-1">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq3-1" aria-expanded="false"
										aria-controls="faq3-1">
										How does the monthly billing work?
									</button>
								</h2>
								<div id="faq3-1" class="accordion-collapse collapse border-0"
									aria-labelledby="faq3-heading-1">
									<div class="accordion-body text-start p-4">
										At Study-Stash, we bill our users monthly. You will receive a notification
										before your plan expires to ensure you are informed well in advance.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Plan Cancellation -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq3-heading-2">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq3-2" aria-expanded="false"
										aria-controls="faq3-2">
										How can I cancel my plan?
									</button>
								</h2>
								<div id="faq3-2" class="accordion-collapse collapse border-0"
									aria-labelledby="faq3-heading-2">
									<div class="accordion-body text-start p-4">
										You are allowed to cancel your plan at any time. Simply follow the cancellation
										process provided in your account settings.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Refund Policy -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq3-heading-3">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq3-3" aria-expanded="false"
										aria-controls="faq3-3">
										Can I request a refund after subscribing?
									</button>
								</h2>
								<div id="faq3-3" class="accordion-collapse collapse border-0"
									aria-labelledby="faq3-heading-3">
									<div class="accordion-body text-start p-4">
										Yes, you can request a refund, but please note that refunds are only processed
										after 30 days from your initial subscription date. <a href="#">Refund Policy</a>
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Payment Details -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq3-heading-4">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq3-4" aria-expanded="false"
										aria-controls="faq3-4">
										What payment details are used for monthly payments?
									</button>
								</h2>
								<div id="faq3-4" class="accordion-collapse collapse border-0"
									aria-labelledby="faq3-heading-4">
									<div class="accordion-body text-start p-4">
										Study-Stash uses the credit card details you provide during subscription to
										process monthly payments. Please ensure your payment details are accurate.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Payment Security -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq3-heading-5">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq3-5" aria-expanded="false"
										aria-controls="faq3-5">
										How are my payment details secured?
									</button>
								</h2>
								<div id="faq3-5" class="accordion-collapse collapse border-0"
									aria-labelledby="faq3-heading-5">
									<div class="accordion-body text-start p-4">
										Study-Stash prioritizes your payment security. We use Braintree as our payment
										gateway to ensure your payment details are well protected and secure.
									</div>
								</div>
							</div><!--//accordion-item-->

							<!-- Rewards -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="faq3-heading-6">
									<button class="accordion-button btn btn-link" type="button"
										data-bs-toggle="collapse" data-bs-target="#faq3-6" aria-expanded="false"
										aria-controls="faq3-6">
										What kind of rewards can I receive?
									</button>
								</h2>
								<div id="faq3-6" class="accordion-collapse collapse border-0"
									aria-labelledby="faq3-heading-6">
									<div class="accordion-body text-start p-4">
										At Study-Stash, you can receive various rewards, but cash is our primary reward
										for every member. We also offer other incentives and recognition for outstanding
										contributions.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row g-4">
					<div class="col-12 col-md-6">
						<div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder icon-holder-mono">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-headset"
												fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M8 1a5 5 0 0 0-5 5v4.5H2V6a6 6 0 1 1 12 0v4.5h-1V6a5 5 0 0 0-5-5z" />
												<path
													d="M11 8a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V8zM5 8a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V8z" />
												<path fill-rule="evenodd"
													d="M13.5 8.5a.5.5 0 0 1 .5.5v3a2.5 2.5 0 0 1-2.5 2.5H8a.5.5 0 0 1 0-1h3.5A1.5 1.5 0 0 0 13 12V9a.5.5 0 0 1 .5-.5z" />
												<path d="M6.5 14a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2h-1a1 1 0 0 1-1-1z" />
											</svg>
										</div><!--//icon-holder-->

									</div><!--//col-->
									<div class="col-auto">
										<h4 class="app-card-title">Need more help?</h4>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//app-card-header-->
							<div class="app-card-body px-4">

								<div class="intro mb-3">We're here to assist you. If you have any questions, concerns,
									or need further assistance, don't hesitate to reach out to us. Our dedicated support
									team is ready to help you with any inquiries.</div>
								<ul class="list-unstyled">
									<li><strong>Tel:</strong> 255 234 234 345</li>
									<li><strong>Email:</strong> <a href="#">needsupport@study-stash.com</a></li>
								</ul>
							</div><!--//app-card-body-->

						</div><!--//app-card-->
					</div><!--//col-->


					<div class="col-12 col-md-6">
						<div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder icon-holder-mono">
											<svg width="1em" height="1em" viewBox="0 0 16 16"
												class="bi bi-life-preserver" fill="currentColor"
												xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd"
													d="M14.43 10.772l-2.788-1.115a4.015 4.015 0 0 1-1.985 1.985l1.115 2.788a7.025 7.025 0 0 0 3.658-3.658zM5.228 14.43l1.115-2.788a4.015 4.015 0 0 1-1.985-1.985L1.57 10.772a7.025 7.025 0 0 0 3.658 3.658zm9.202-9.202a7.025 7.025 0 0 0-3.658-3.658L9.657 4.358a4.015 4.015 0 0 1 1.985 1.985l2.788-1.115zm-8.087-.87L5.228 1.57A7.025 7.025 0 0 0 1.57 5.228l2.788 1.115a4.015 4.015 0 0 1 1.985-1.985zM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
											</svg>
										</div><!--//icon-holder>-->
									</div><!--//col-->
									<div class="col-auto">
										<h4 class="app-card-title">Why Study-Stash?</h4>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//app-card-header-->
							<div class="app-card-body px-4">
								<div class="intro mb-3">At Study-Stash, we empower you. We provide opportunities to make
									a difference by participating in research and surveys, sharing your insights, and
									gaining valuable perspectives.</div>
								<ul class="list-unstyled">
									<li>
										<svg width="1em" height="1em" viewBox="0 0 16 16"
											class="bi bi-check2 text-primary me-2" fill="currentColor"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd"
												d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
										</svg>
										Join us to make a positive impact on the world.
									</li>
									<li>
										<svg width="1em" height="1em" viewBox="0 0 16 16"
											class="bi bi-check2 text-primary me-2" fill="currentColor"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd"
												d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
										</svg>
										Be recognized for your contributions with awards and certificates.
									</li>
									<li>
										<svg width="1em" height="1em" viewBox="0 0 16 16"
											class="bi bi-check2 text-primary me-2" fill="currentColor"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd"
												d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
										</svg>
										Connect with industry professionals for mentorship and career guidance.
									</li>
								</ul>
							</div><!--//app-card-body-->
						</div><!--//-->



					</div><!--//app-content-->

					{% include 'activeuserapp/userdashboard/footer.html' %}