{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- icon library bootrap -->
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


 <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'publicAssets/img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'publicAssets/img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'publicAssets/img/favicons/favicon-16x16.png' %}">

<!-- Vendor CSS Files -->
<link href="{% static 'publicAssets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'publicAssets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'publicAssets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'publicAssets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'publicAssets/css/style.css' %}" rel="stylesheet">