



{% load static %}

<head>
    {% include 'accounts/registration/header.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

    <title>Study-Stash Available Plans</title>
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="{% static 'assets_accounts/images/subscribe.png' %}" alt="Image" class="img-fluid" />
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="mb-4 text-center">
                                <h3>Subscription <strong>Study-Stash</strong></h3>
                            </div>
                        </div>
                    </div>

                    <!-- Innovator Pro Subscription Plan -->
                    <div class="row">
                        {% for plan in plans %}
                        <div class="col-md-12 text-center">
                            <div class="card mb-4 shadow-lg">
                                <div class="card-header">
                                    <h3 class="card-title">{{ plan.name }}</h3>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-subtitle mb-2 text-muted">${{plan.price}}/month</h4>
                                    <p class="card-text">
                                        {{ plan.description }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary subscribe-button">
                                            <a href="{% url 'paymentapp:process' plan.pk%}">Subscribe</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
        

    {% include 'accounts/registration/footer.html' %}
</body>
