{% load static %}

<meta content="" name="description">
<meta content="" name="keywords">

<!-- icon library bootrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'publicAssets/img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'publicAssets/img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'publicAssets/img/favicons/favicon-16x16.png' %}">

<!-- Vendor CSS Files -->
<link href="{% static 'land_assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'land_assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'land_assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'land_assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'land_assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="{% url 'activeuserapp:active_index' %}">Study-Stash</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'activeuserapp:active_index' %}#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="{% url 'activeuserapp:active_index' %}#about">About</a></li>
        <li><a class="nav-link scrollto" href="{% url 'activeuserapp:active_index' %}#services">Services</a></li>
        <li><a class="nav-link" href="#">Dashboard</a></li>
        <li><a class="nav-link" href="#">logout</a></li>
        <li class="dropdown"><a href="#"><span>More </span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#blog">Ongoing Projects</a></li>
            <li class="dropdown"><a href="#" style=" color: red"><span>Important</span> <i
                  class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a class="scrollto" href="{% url 'activeuserapp:legal_information' %}#privacy">Privacy policy</a></li>
                <li><a class="scrollto" href="{% url 'activeuserapp:legal_information' %}#terms">Terms of use</a></li>
                <li><a class="scrollto" href="#faq">Faqs</a></li>
                <li><a href="#">Scholarships</a></li> <!-- facebook page -->
                <li><a href="#">Get Hired</a></li> <!--linkedlin account -->
              </ul>
            </li>
            <li><a href="#"><i class="bi bi-twitter-x"> &nbsp; Twitter</i></a></li>
            <li><a href="#"><i class="bi bi-facebook">&nbsp; Facebook</i></a></li>
            <li><a href="#"><i class="bi bi-youtube">&nbsp; Youtube</i></a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->