{% load static %}

{% include 'accounts/registration/header.html' %}

  <title>Study-Stash Error 404 - Page Not Found</title>
</head>

<body>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="assets_accounts/images/Oops! 404 Error with a broken robot-rafiki.png" alt="Image"
            class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="error-page-wrap d-flex flex-column justify-content-center align-items-center text-center">
              <div class="mt-5"></div> <!-- Add some space from the top -->
              <div class="mt-5"></div> <!-- Add some space from the top -->
              <div class="mt-5"></div> <!-- Add some space from the top -->
              <div class="mt-5"></div> <!-- Add some space from the top -->
              <i class="notika-icon notika-close"></i>
              <h2>ERROR <span class="counter">404</span></h2>
              <p>Sorry, but the page you are looking for has not been found. Try checking the URL for an error, then hit
                the refresh button on your browser or try finding something else in our app.</p>
              <a href="mailto:support@study-stash.com" class="btn btn-danger error-btn-mg">Report Problem at
                support@study-stash.com</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  </div>



  {% include 'accounts/registration/footer.html' %}

</body>

</html>