{% load static %}
{% include 'accounts/registration/header.html' %}

<!-- #########################################################################   -->

  <title>Study-Stash Password Reset Complete</title>
</head>

<body>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{% static 'assets_accounts/images/passord.png' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4 mt-4">
                <div class="pt-5"></div>
                <h3>Password <strong>Study-Satash</strong></h3>
                <div class="pt-5"></div>
                <div class="pt-5"></div>
                <p class="mb-4">Success! Your password has been reset. Remember to use a strong password to keep your
                  account secure. You will now be redirected to your account.</p>
              </div>


            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


<!-- ########################################################################################## -->
{% include 'accounts/registration/footer.html' %}