{% load static %}
{% include 'accounts/registration/header.html' %}

<!-- #########################################################################   -->

  <title>Study-Stash Password Reset Done</title>
</head>

<body>


  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{% static 'assets_accounts/images/passord.png' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4 mt-4">
                <div class="pt-5"></div>
                <h3>Password <strong>Study-Satash</strong></h3>
                <div class="pt-5"></div>
                <p class="mb-4">We've emailed you instructions for setting your password. You should receive the email
                  shortly!.</p>
              </div>

              <p>We've received your request. An email with instructions on resetting your password has been sent to
                your inbox. Please check your email and follow the steps to regain access to your Study-Stash account
              </p>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

<!-- ########################################################################################## -->
{% include 'accounts/registration/footer.html' %}