{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">



  <link rel="stylesheet" href="{% static 'assets_accounts/fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets_accounts/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets_accounts/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets_accounts/css/style.css' %}">
  
 <!-- Favicons -->
 <link rel="apple-touch-icon" sizes="180x180" href="{% static 'publicAssets/img/favicons/apple-touch-icon.png' %}">
 <link rel="icon" type="image/png" sizes="32x32" href="{% static 'publicAssets/img/favicons/favicon-32x32.png' %}">
 <link rel="icon" type="image/png" sizes="16x16" href="{% static 'publicAssets/img/favicons/favicon-16x16.png' %}">
  