{% load static %}
{% include 'accounts/registration/header.html' %}

<!-- #########################################################################   -->

  <title>Study-Stash Pasword Reset Confirm</title>
</head>

<body>
  <div class="content">
    <div class="container">
      <!-- 
                  {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" style="margin-left: 20px; margin-right: 20px;">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" style="margin-left: 20px; margin-right: 20px;">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
            -->
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{% static 'assets_accounts/images/passord.png' %}" alt="Image" class="img-fluid" />
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4 pt-5">
                <h3>Password <strong>Study-Satash</strong></h3>
                <p class="mb-4">
                  For security reasons, please ensure your new password is
                  strong.
                </p>
              </div>
              <form action="#" method="post">
                <div class="form-group last mb-4">
                  <label for="password"> New Password</label>
                  <input type="password" class="form-control" id="password" required />
                </div>
                <div class="form-group last mb-4">
                  <label for="confirm_password">Confirm Password</label>
                  <input type="password" class="form-control" id="confirm_password" required />
                </div>

                <!-- recaptcha keys -->
                <div class="form-group last mb-4">
                  <div class="g-recaptcha" data-sitekey="Site_key"></div>
                </div>


                <input type="submit" value="Change my password" class="btn text-white btn-block btn-primary" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ########################################################################################## -->
{% include 'accounts/registration/footer.html' %}