{% load static %}
{% include 'accounts/registration/header.html' %}

<!-- #########################################################################   -->

    <title>Study-Stash Registration Completed</title>
</head>

<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 contents">
                    <!-- Three centered divisions -->
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <!-- Division 1 -->
                            <div class="mb-4 py-3">
                                <!-- Content for division 1 -->
                                <h1><i class="bi bi-geo-alt text-danger uder"></i>Study-Stash</h1>
                            </div>
                            <!-- Resend Verification Button -->
                            <div class="text-right py-3">
                                <button class="btn btn-primary">Resend Verification</button>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <!-- Division 2 -->
                            <div class="mb-4">
                                <!-- Content for division 2 -->
                                <h1><i class="bi bi-check-circle text-primary"></i> Registration successful</h1>
                                <h4>Congratulations! 🎉 You're now part of the Study-Stash community. Get ready to
                                    embark on an exciting journey of knowledge, growth, and success. Welcome aboard!
                                    Please check your email to verify your account a verification link has been sent.
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-5 ">
                        <div class="col-md-8 border border-black rounded">
                            <!-- Division 2 -->
                            <div class="mb-4 bg-gradient-info text-dark ">
                                <!-- Content for division 2 -->
                                <h1 class="p-3"><i class="bi bi-envelope-check"></i> Verify your email address</h1>
                                <h5>An email verification link has been sent to your email. Please follow the link to
                                    verify your email.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- ########################################################################################## -->
{% include 'accounts/registration/footer.html' %}